@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDc.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: linear-gradient(90deg, #497181, #4f6d7a);
  font-family: "Source Sans Pro", sans-serif;
}
@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
header {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e89980;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header nav {
  margin: 30px;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
  }
}
header ul {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  width: 100%;
}
header a {
  margin: 0px 50px;
  text-decoration: none;
  color: #e89980;
}
@media (max-width: 500px) {
  header a {
    display: flex;
    flex-direction: column;
  }
}
header h1 {
  font-weight: bold;
  font-size: 30px;
  color: #e89980;
  margin: 20px;
}
header .btn {
  background-color: #e89980;
  color: #D3D3D3;
  border: 0px solid #646464;
  border-radius: 9%;
}
header .btn:hover {
  background-color: #D3D3D3;
  color: #e89980;
}
header a:hover {
  color: #D3D3D3;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  float: center;
  width: 25px;
  height: 3px;
  background-color: #e89980;
  margin: 5px;
}
@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    width: 60%;
    position: absolute;
    right: 0px;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 2s ease-in;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
}
.content {
  display: flex;
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .content {
    width: 97%;
  }
}
.content h2 {
  color: #e89980;
  font-size: 20px;
  margin-bottom: 20px;
}
.content p {
  color: #e89980;
  font-weight: lighter;
}
@media (max-width: 500px) {
  .content p {
    width: 90%;
  }
}
.content .sub-content {
  display: flex;
  flex-direction: column;
  border-right: 1px dashed #e89980;
  margin: 10px;
  width: 49%;
}
@media (max-width: 500px) {
  .content .sub-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .content .sub-content {
    width: 100%;
  }
}
.content .sub-content .btn {
  background-color: #e89980;
  color: #D3D3D3;
  border: 0px solid #646464;
  border-radius: 9%;
  padding: 10px;
  width: 150px;
  margin: 15px 80px;
}
.content .sub-content .btn:hover {
  background-color: #D3D3D3;
  color: #e89980;
}
@media (max-width: 500px) {
  .img-cont {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .inv-cont {
    display: flex;
    flex-direction: column-reverse;
  }
}
footer {
  border-top: 1px solid #e89980;
  color: #e89980;
  display: flex;
  justify-content: center;
  padding: 20px;
}
