header {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    width: 100%;

    nav {
        margin: 30px;
    }

    a {
        margin: 0px 50px;
        text-decoration: none;
        color: #646464;
    }

    h1 {
        font-weight: bold;
        font-size: 30px;
        color: #646464;
        margin: 20px;
    }

    .btn {
        color: #646464;
        background-color: beige;
        border: 0px solid;
    }
}