
.content {
    display: flex;
    .flex-media(flex, column);
    .media-width(97%);

    h2 {
        color: #e89980;
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        color: #e89980;
        .media-width(49%);
        font-weight: lighter;
    }

    .sub-content {
        display: flex;
        flex-direction: column;
        border-right: 1px dashed #e89980;
        margin: 10px;
        width: 49%;
        .flex-media(flex, column);
        .media-width(49%);

        .btn {
            background-color: #e89980;
            color: #D3D3D3;
            border: 0px solid #646464;
            border-radius: 9%;
            padding: 10px;
            width: 150px;
            margin: 15px 80px;
        }

        .btn:hover {
            background-color: #D3D3D3;
            color: #e89980;
        }
    }
}
.img-cont{
    .media-width(90%);
}
.inv-cont{
    .flex-media(flex, column-reverse);
}